@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

:root {
    --primary-color: #8E9DCC;
    --secondary-color: #7D84B2;
    --accent1-color: #FEF9FF;
    --accent2-color: #D9DBF1;
    --heading-font: Epilogue;
    --paragraph-font: Hind;
}
* {
   background-color: var(--secondary-color); 
}

.navlink {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 5px 5px 0px;
    text-decoration: none;
}

main, .picturemain, section, .divhomeaway, .divwedding, .divsearch, .insection, .imagehomeaway, .homeparagraph, .weddingparagraph, .searchparagraph {
    background-color: var(--accent1-color);
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
  }

  .title {
      margin-bottom: 0px;
      margin-left: 10px;
      padding-bottom: 0px;
      font-family: var(--heading-font), "Lucida Grande", sans-serif;
      font-size: 2.5rem;
      color:  var(--accent2-color);
      
  }
  
 .mainnavlink {
    list-style-type: none;
     display: flex;
     flex-direction: row;
     font-family: var(--heading-font), "Lucida Grande", sans-serif;
 }

 .logotitle {
     display:flex;
     flex-direction: row;
 }

 header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;   
 }

 h2 {
    font-family: var(--heading-font), "Lucida Grande", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    color: var(--secondary-color);
 }

p {
    font-family: var(--paragraph-font), Geneva, sans-serif;
    font-size: 16px;
    
}

.homeparagraph {
    padding-right: 20px;
    color: var(--secondary-color);
}

.weddingparagraph {
    padding-left: 20px;
    color: var(--secondary-color);
}
.searchparagraph {
    color: var(--secondary-color) 
}

.homeaway{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secondary-color);
}

.weddingreceptions{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

.insection {
    padding-top: 30px;
}

.imagehomeaway {
    padding-top: 30px;
    padding-bottom: 20px;
}

