@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --primary-color: #03a0f5;
    --secondary-color: #E8FFE0;
    --accent1-color: #FEF9FF;
    --accent2-color:#d8fcc9;
    --accent3-color: #A8DDFA;
    --title-font: 'Fredoka One', cursive;
    --paragraph-font: 'Poppins', sans-serif;
    --heading-font: 'Merriweather Sans', sans-serif;
}
* {
   background-color: var(--accent1-color);
   font-size: 17px;
}

main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }

 /******* Header *******/
header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--accent3-color);
}
h1 {
    font-family: var(--title-font);
    -webkit-text-stroke: 1px var(--primary-color);
    -webkit-text-fill-color: white;
    font-size: 4rem;
    margin: 0;
    white-space: nowrap;
    background-color: var(--accent3-color);
}

img {
    height: 10rem;
}

.baby{
    background-color: var(--accent3-color);
    margin-left: 20px
}

.logotitle{
    display: flex;
    flex-direction: row;
    align-items: flex-end ;
    background-color: var(--accent3-color);
}

nav{
    margin-right: 20px;
}

.mainnav{
   list-style-type: none;
   display: flex; 
   flex-direction: row;
   background-color: var(--accent3-color);
}

.navlink a {
   font-family: var(--heading-font);
   font-size: .9rem;
   -webkit-text-stroke: 1px var(--primary-color);
    -webkit-text-fill-color: white;
   margin-left: .4rem;
   margin-right: .4rem;
   padding: 5px 3px 0px;
   text-decoration: none;
   font-weight: bolder;
   white-space: nowrap;
   background-color: var(--accent3-color);
}

.navlink a:hover{
    background-color: white;
    border-radius: 4px;
    
}

nav, li.navlink {
    background-color: var(--accent3-color);
}
/******** MAIN *********/

main, section, h3, .mainp{
    background-color: var(--accent1-color);
}

h2, .titleaccount {
    font-size: 2rem;
    font-family: var(--heading-font);
    -webkit-text-stroke: 1px var(--primary-color);
    -webkit-text-fill-color: white;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
}

p{
    font-size: 1rem;
    font-family: var(--paragraph-font);
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 5px 20px 10px 20px;
}

.heroimage {
    width: 100%;
    max-width: 960px;
    height: 100%;
}

.titleaccount {
    background-color: var(--accent1-color);
    text-align: center;

}

.imgtestimony {
    padding: 20px;
    background-color: var(--secondary-color);
    border: 1px;
    border-color: white;
    border-radius: 6px;
}
/******** Form *******/
form {
    background-color: var(--accent1-color);
 /* center the form */
    margin: 0 auto;
    width: 550px;
 /* Form outline */
    padding: 1em;
    border: 4px solid var(--primary-color);
    border-radius: 1em;
    text-align: center;
}

label, legend, button{
    font-family: var(--heading-font);
}

input, textarea {
    width: 300px;
    border: 1px solid var(--primary-color);
    height: 1rem;
    padding: .5rem;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

.labelradio{
    text-align: left;
}

.inputradio{
    width: 2rem;
}

button {
    width: 546px;
    height: 50px;
    margin: auto;
    background-color: var(--accent2-color);
    border: 2px solid;
    border-color: var(--primary-color);
    border-radius: 4px;
    
    
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

.formaccount div {
    padding: 5px;
}

fieldset {
    border-color: var(--primary-color);
}

select{
    border-color: var(--primary-color);
}

/********* Home Grid **********/
.home {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 380PX 15rem 15rem 20rem 20rem;
    align-content: center;
    align-items: center;
    background-color: var(--accent1-color);
}

.banner {
    grid-column:1/5;
    grid-row: 1/2;
    background-color: var(--accent1-color);
}

.about {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: var(--accent1-color);
}

.whyus {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: var(--accent1-color);
}

.formhome {
    grid-column: 1/5;
    grid-row: 4/6;
    background-color: var(--accent1-color);
}

.testimonial {
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.testimonialp, .testimonialp em {
    background-color: var(--secondary-color);
}

em{
    background-color: var(--secondary-color);
}


/******* Footer **********/
footer{
    background-color: var(--accent3-color);
    display: flex;
    justify-content: space-between;
}

.icon {
    margin: 0;
    padding: 5px 5px 5px 5px;
    max-height: 80px;
    background-color: var(--accent3-color);
}

.iconfacebook {
    margin: 0;
    padding: 5px 5px 5px 5px;
    max-height: 80px;
    background-color: var(--accent3-color);
}

.finalsite{
    font-family: var(--paragraph-font);
    color: black;
    text-decoration: none;
    background-color: var(--accent3-color);
}

.finalsite:hover {
    background-color: white;
    border-radius: 4px;
}

.siteplan {
    margin-right: 20px;
}

.address {
    margin-left: 20px;
}

.address, .siteplan, .socialmedia, .facebook, .instagram, .youtube {
    background-color: var(--accent3-color);
}
/********** CSS Find a Babysitter site *******/

/****** FORM *******/
.babysitter fieldset {
    text-align: left;
    margin-top: 10px;
}

.babysitter fieldset label {
    width: auto;
}

.babysitter div label {
    text-align: right;
}

.babysitter div{
    padding: 5px;
}

.babysitter {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    margin-top: 3rem;

}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
      /* Provide space to type some text */
    height: 5em;
    padding: .5rem;
}

.babysitter{
    display: grid;
    grid-area: auto;
}

.titlebabysitter {
    font-family: var(--title-font);
    background-color: var(--accent1-color);
}

.headerform {
    display: flex;
    flex-direction: column;

}

.babysitter {
    margin-top: 0px;
}

/******** REVIEWS *********/

/*** Card ***/
.imgcard {
    width: 100%
}
.card{
    width: 290px;
    height: 380px;
    box-shadow: 1px 1px 4px 1px var(--accent1-color);
    border-radius: 4px;
    background-color: var(--accent3-color);
    overflow: hidden;
    margin: auto;
}

.pcard {
    font-family: var(--paragraph-font);
    color: black;
    padding: 10px;
    background-color: var(--accent3-color);
}

.more {
    width: 100px;
    height:30px;
    padding: 5px;
    margin: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-color: var(--primary-color);
    color: black;
    background-color:white;
    border-style: solid;
    font-size: 10px;
}

.footcard {
    background-color: var(--accent3-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
}

span{
    background-color: var(--accent3-color); 
}

.divreviewbutton {
    background-color: var(--accent3-color);
}

.star{
    background-color: var(--accent3-color);
    margin-right: 10px;
}

.titlereviews{
    font-size: 2.5rem;
    font-family: var(--title-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    margin: 0px;
}
/***Grid***/

.reviews {
    display: grid;
    grid-template-rows: 8rem 26rem 20rem;
    grid-template-columns: 320px 320px 320px;
    align-items: center;
    justify-content: center;
}

.titlereviews {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    margin:15px;
    
}

.one {
    grid-row: 2/3;
    grid-column: 1/2;
}

.two {
    grid-row: 2/3;
    grid-column: 2/3;
}

.three {
    grid-row: 2/3;
    grid-column: 3/4;
}

.leavereview {
    grid-row: 3/4;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.commenttitle {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    margin: 0px;
    -webkit-text-stroke: 1px var(--primary-color);
    -webkit-text-fill-color: white;
}

.commenttextarea {
    width: 400px;
    height: 150px;
    margin: 19px;
    border-color: var(--primary-color);

}

.buttonreview {
    width: 419px;
    height:30px;
    padding: 5px;
    margin: 0px 0px 0px 18px;
    border-width: 1px;
    border-radius: 3px;
    border-color: var(--primary-color);
    color: black;
    background-color: var(--accent2-color);
    border-style: solid;
    font-size: 10px;
}
